<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <form action="/new" method="post">
        username: <input type="text" placeholder="name" name="name"><br><br>
        Email: <input type="email" placeholder="email" name="email"><br><br>
        Password: <input type="text" placeholder="password" name="password"><br><br>
        <button>submit</button>
    </form>
</body>
</html>